body{
    background-color: #333;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.header{
    background-color: #222;
    width: 100vw;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__title{
    text-align: center;
    color: green;
}

.container-contacts{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact{
    border: 3px solid #222;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin: 15px;
}

.contact button,
.button-add,
.form__input--submit{
    background: green;
    border: none;
    margin: 5px;
    color: white;
    font-size: 1.1em;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.customWindow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #eee;
    border: 3px solid green;
    padding: 30px;
    color: black
}

.form__label,
.form__input{
    display: block;
}

.form__input{
    margin-bottom: 10px;
}

.form__input--submit{
    display: block;
    width: 100%;
    margin: 0;
}

.hide{
    display: none;
}